[package]
name = "bicycle-operators"
version = "0.1.0"
edition.workspace = true
license.workspace = true

[dependencies]
anyhow.workspace = true
async-trait.workspace = true
tracing.workspace = true

bicycle-core = { path = "../core" }
bicycle-runtime = { path = "../runtime" }
