[package]
name = "bicycle-core"
version = "0.1.0"
edition.workspace = true
license.workspace = true

[dependencies]
bincode.workspace = true
serde.workspace = true
thiserror.workspace = true
uuid.workspace = true
